body {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
html[dir="rtl"] body {
  font-family: "rb", sans-serif;
}
.overflow {
  overflow: hidden;
}
:root {
  --main-color: #322b71;
  --main-hover: #cb1f25;
  --sec-color: #b2b2b2;
  --dots-color: #4bbae5;
  --white-color: #ffffff;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}
/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-color: var(--main-hover);
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/
.body-wrapper {
  display: grid;
  grid-template-columns: 84% 16%;
  width: 100%;
  overflow-x: hidden;
}
html[dir="rtl"] .body-wrapper {
  grid-template-columns: 16% 84%;
}
aside {
  order: 2;
  position: relative;
}
html[dir="rtl"] aside {
  order: 1;
}
html[dir="rtl"] .body-cont {
  order: 2;
}
.fixed-side {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-left: 10px solid #cb1f25;
  padding: 20px 30px;
  position: fixed;
}
.qr-img {
  max-width: 100%;
}
.qr-img a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.qr-img {
  margin-bottom: 0;
}
.qr-img a {
  text-decoration: none !important;
}
.qr-img span {
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  color: var(--main-hover);
  text-align: center;
  margin-bottom: 15px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.qr-img:hover span {
  color: var(--main-color);
}
.body-cont {
  position: relative;
}
/*                          header section                     */
/*top header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  /* transition: all 0.3s ease-in-out; */
}
html[dir="rtl"] header {
  left: auto;
}
.top-header a {
  text-decoration: none;
}
.show-icons {
  display: flex;
  align-items: center;
  display: none;
}
.show-icons .menu-bars {
  display: none;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  transition: all 0.3s ease-in-out;
}
.nav-header li a {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .nav-header li a {
  font-weight: 400;
}
.nav-header li a:hover {
  color: var(--main-hover);
}
.nav-header li {
  margin-inline-end: 28px;
  padding: 10px 0; /* for mega hover*/
}
.lang-ancor {
  display: flex;
  align-items: center;
  color: var(--sec-color);
  font-size: 14px;
  font-family: "rb";
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .lang-ancor {
  font-family: "poppins";
  font-weight: 500;
}
.lang-ancor i {
  margin-inline-end: 5px;
  font-size: 20px;
}
.lang-ancor:hover {
  color: var(--white-color);
}
.nav-header li:last-of-type {
  margin-inline-end: 0;
}
.nav-header .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.fixed-nav {
  background-color: var(--main-color);
  margin-top: -100%;
  /* width: 84%; */
  transition: all 0.4s ease-in-out;
}
.fixed-nav .nav-header {
  padding: 10px 15px;
}
.fixed-header {
  position: fixed;
  width: 84%;
}
.fixed-header .fixed-nav {
  margin: 0;
}
/* .fixed-nav .nav-header figure img {
  width: 175px;
  transition: all 0.3s ease-in-out;
} */
/* .nav-header figure {
  margin: 0;
} */
.img-logo {
  margin: 0;
  max-width: 153px;
  transition: all 0.3s ease-in-out;
}
.nav-head {
  height: 38px;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.open-bars::after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  color: var(--main-color);
}
.close-bars::after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  color: var(--main-color);
}
/*                          header section                     */
/*                            main                           */
main {
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
}
.swiper-cont {
  position: relative;
}
.main .pro-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.main .pro-img img {
  width: 100%;
  height: 100vh;
}

.main-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  margin: 0 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: unset;
}

@media (max-width: 991px) {
  .main-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 20px;
  }
  .main-slider .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
.main-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--dots-color);
}

.main-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--dots-color);
  opacity: 1;
}
/*                          main-slider                             */
/*                      about-us-section                      */
.about-us {
  padding: 90px 0;
}
.about-us-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;
}
.about-us-head {
  font-weight: 500;
  font-size: 18px;
  color: var(--main-hover);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;
}
html[dir="ltr"] .about-us-head {
  letter-spacing: 6px;
}
html[dir="rtl"] .about-us-head {
  font-weight: 400;
}
.about-us-pargh {
  font-weight: 700;
  font-size: 24px;
  color: var(--main-color);
  margin-bottom: 30px;
  text-align: center;
}
.about-link {
  display: inline-flex;
  text-align: center;
  text-decoration: underline;
  font-family: "poppins-italic";
  font-weight: 400;
  font-size: 16px;
  color: #7d7d7d;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .about-link {
  font-weight: 300;
}
.about-link:hover {
  color: var(--main-hover);
}
@media (max-width: 767px) {
  .about-us {
    padding: 60px 0;
  }
  .about-us-cont {
    padding: 0;
  }
  .about-us-pargh {
    font-size: 16px;
  }
}
/*                      about-us-section                      */
/*                          youtube-section                      */
.youtube-cont {
  padding: 0 15px;
}
.youtube-iframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.50224215246637%;
}
.youtube-iframe img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*                          youtube-section                      */
/*                                   footer                            */
/*                                   footer                            */
footer {
  margin-top: 90px;
  padding: 90px 15px 0;
  background-color: var(--main-color);
}
.first-footer h2 {
  padding: 0;
  margin: 0 0 30px;
}
.first-footer a {
  text-decoration: none !important;
}
.foot-header {
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  font-size: 15px;
  color: var(--white-color);
  text-align: start;
}
html[dir="rtl"] .foot-header {
  font-weight: 700;
}
.first-footer .foot-contact h2 {
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: capitalize;
}
.foot-contact .nav-foot-li {
  margin-bottom: 12px;
}
.nav-foot-li {
  margin-bottom: 10px;
}
.nav-foot-link {
  color: #9890db;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.nav-foot-link span {
  text-align: start;
}
.nav-icon .nav-foot-link {
  display: flex;
  align-items: center;
  color: var(--white-color);
}
.foot-contact .nav-foot-link {
  font-weight: 400;
  color: var(--white-color);
  display: flex;
  align-items: center;
}
.nav-foot-link i {
  margin-inline-end: 20px;
  font-size: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
html[dir="rtl"] .nav-foot-link i.la-phone {
  transform: scaleX(-1);
}
.nav-foot-li .nav-foot-link:hover {
  color: var(--dots-color);
}
.nav-foot-li div.nav-foot-link:hover {
  color: var(--white-color);
}
.foot-contact .nav-foot-li:first-of-type .nav-foot-link {
  align-items: flex-start;
}
@media (min-width: 991px) {
  .foot-contact .nav-foot-li {
    max-width: 250px;
  }
}
.btn-download {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
}
.btn-download a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 167px;
  height: 53px;
  background-color: rgba(0, 0, 0, 0.302);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.btn-download a:first-of-type {
  margin-bottom: 5px;
}
.btn-download a:hover {
  background-color: var(--dots-color);
}
.copy-right-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  border-top: 1px solid rgba(255, 255, 255, 0.078);
  padding: 28px 0;
}
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #9890db;
}
.design-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #9890db;
}
.design-text .taswak-img {
  max-width: 100%;
  margin-inline-start: 5px;
  image-rendering: -webkit-optimize-contrast;
}

/*                             footer accordion                 */
.footer-accordion.nav-foot-header {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-accordion {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  padding: 0 15px;
}
.news-letter .footer-panel {
  padding: 0;
}
.footer-accordion:after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  font-size: 13px;
  transition: all 0.5s ease-out;
}
html[dir="rtl"] .footer-accordion:after {
  content: "";
}
.footer-accordion.active:after {
  transform: rotate(90deg);
}
html[dir="rtl"] .footer-accordion.active:after {
  transform: rotate(-90deg);
}
/*                             footer accordion                 */
@media (max-width: 991px) {
  footer {
    margin-top: 45px;
    padding: 80px 0 0;
  }
  .nav-foot-cont {
    margin-bottom: 20px;
  }
  .first-footer .foot-contact h2 {
    margin-bottom: 0;
  }
  .btn-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .btn-download a {
    width: calc(50% - 10px);
    max-width: 165px;
    height: 50px;
  }
  .btn-download a:first-of-type {
    margin-bottom: 0;
    margin-inline-end: 20px;
  }
  .copy-right-cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .copy-right {
    margin-bottom: 10px;
  }
}
/*                                   footer                            */
/*                                    media query                                    */
@media (min-width: 992px) {
  aside {
    width: 16%;
  }
  .fixed-side {
    width: inherit;
  }
}
/*                    menu in phone size                      */

@media (max-width: 991px) {
  .show-icons {
    display: flex;
  }
  .fixed-header {
    width: 100%;
  }
  .fixed-nav .nav-header {
    padding: 10px 15px;
  }
  .fixed-nav .nav-header figure img,
  .nav-header figure img {
    max-width: 175px;
  }
  .nav-header {
    padding: 0;
  }
  .show-icons .menu-bars {
    text-decoration: none !important;
    position: relative;
    z-index: 300;
    width: 22px;
    margin-inline-start: 20px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }
  .menu-bars:hover {
    color: var(--main-hover);
  }
  .nav-head .close-btn {
    color: #fff;
    font-size: 24px;
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 15px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: rgba(203, 31, 37, 0.97);
    transition: 0.4s;
    z-index: 200;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    clip-path: circle(121.2% at 86% 14%);
  }

  .nav-head {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
  }
  .nav-head {
    flex-direction: row-reverse;
  }
  .img-logo {
    max-width: 60px;
  }
  .lang-ancor {
    display: none;
  }
  .nav-head .lang-ancor {
    display: flex;
    color: var(--white-color);
  }
  .nav-header .big-menu {
    display: block;
    flex-direction: column;
    text-align: start;
    align-items: baseline;
    padding: 30px 20px 0;
  }
  .nav-header li {
    margin-right: 0;
  }
  html[dir="rtl"] .nav-header li {
    margin-left: 0;
  }
  .big-menu li {
    padding: 0;
    margin-bottom: 20px;
  }
  .chevron-down {
    line-height: unset;
  }
  .nav-header li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
  }
  .nav-header li a:hover {
    color: var(--white-color);
  }
  /*                    menu in phone size                      */
}
@media (max-width: 991px) {
  .body-wrapper {
    display: unset;
  }
  .body-cont {
    padding-top: 90px;
  }
  aside {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .fixed-side {
    height: 100%;
    flex-direction: row;
    position: relative;
    padding: 5px 20px;
    border-left: none;
  }
  /* html[dir="ltr"] .fixed-side {
    flex-direction: row-reverse;
  } */
  .qr-img {
    max-width: 60px;
  }
  .qr-cont {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  /* html[dir="ltr"] .qr-cont {
    flex-direction: row-reverse;
  } */
  .qr-img span {
    display: none;
  }
  .fixed-sm-side {
    margin-top: -100%;
    transition: all 0.3s ease-in-out;
  }
  .fixed-header .fixed-sm-side {
    margin-top: 0;
  }
  main {
    height: auto;
  }
  .main .pro-img img {
    height: auto;
  }
  .pro-img {
    height: auto;
  }
}
/*                                    media query                                    */

.fixall {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/*overlay*/
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  background-color: #000;
  opacity: 0.4;
  display: none;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*slide down menu*/
.mega-menu {
  position: relative;
}
@media (min-width: 992px) {
  .mega-menu:hover .cats-dispaly {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
}
html[dir="ltr"] .cats-dispaly {
  transform: translateX(-8%);
}
.cats-dispaly {
  position: absolute;
  /* left: 0; */
  inset-inline-start: 0;
  transform: translateX(8%);
  top: calc(100% + 5px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: max-content;
  max-width: 240px;
  background-color: rgba(203, 31, 37, 0.949);
  display: flex;
  justify-content: space-between;
  text-align: start;
  border: none;
  padding: 14px;
  transition: all 0.3s ease-in-out;
}
.cats-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cats-dispaly li,
html[dir="rtl"] .cats-dispaly li {
  margin: 0;
}
.cats-dispaly li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 0;
}
.cats-dispaly li:last-of-type {
  border-bottom: none;
}
.cats-dispaly li a {
  color: #ffcfc1;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  /* line-height: 34px; */
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
  padding: 5px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.cats-dispaly li:hover > a {
  color: var(--white-color);
}
@media (max-width: 991px) {
  .cats-div {
    align-items: center;
    padding: 0;
    width: unset;
    align-items: center;
  }
  .cats-dispaly::before {
    display: none;
  }
  .cats-dispaly {
    min-width: unset;
    z-index: 99;
    padding: 0;
    height: unset;
    margin: 0 auto;
    background-color: transparent;
    justify-content: center;
  }
  .cats-dispaly li a {
    justify-content: center;
    font-size: 16px;
    /* color: var(--white-color); */
  }
  .cats-dispaly li {
    border-bottom: none;
  }
  .cats-dispaly {
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: none;
    box-shadow: none;
    padding-top: 10px;
  }
  html[dir="rtl"] .cats-dispaly {
    box-shadow: none;
  }
  .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  html[dir="rtl"] .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  html[dir="ltr"] .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  .chevron-down::after {
    content: "";
    font-family: "line Awesome Free";
    font-size: 8px;
    margin-left: 4px;
    font-weight: 900;
  }
  html[dir="rtl"] .chevron-down::after {
    margin-left: 0;
    margin-right: 4px;
  }
}
/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 50px;
  left: 30px;
  max-width: max-content;
  display: none;
  z-index: 10;
  text-decoration: none !important;
}
.arrow-top i {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #212021;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow-top i:hover {
  background-color: var(--main-hover);
}
@media (max-width: 767px) {
  .arrow-top {
    bottom: 10px;
    inset-inline-start: 10px;
  }
}

/*               order page                 */
.breadcrumb-sec {
  position: relative;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px;
  margin-top: 132px; /*for fixed header*/
}
@media (max-width: 991px) {
  .breadcrumb-sec {
    margin-top: 30px;
    padding: 30px 0;
  }
}
.breadcrumb-sec .page-head {
  font-size: 44px;
  color: var(--main-color);
  font-weight: 800;
  margin-bottom: 15px;
  position: relative;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}
html[dir="rtl"] .breadcrumb-sec .page-head {
  font-weight: 700;
}
ol.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol.breadcrumb li a,
ol.breadcrumb li span,
ol.breadcrumb li {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 16px;
  color: #808080;
  font-weight: 400;
  text-decoration: none !important;
}
ol.breadcrumb li a:hover {
  color: var(--main-hover);
}
ol.breadcrumb li:not(.active):after {
  content: "/";
  padding: 0 7px;
}
.career-section {
  margin: 30px 0 120px;
}
.career-form {
  max-width: 559px;
  margin: 0 auto;
  margin-top: 45px;
}
.form-group {
  margin-bottom: 10px;
}
.form-input {
  background-color: #fff;
  width: 100%;
  height: 54px;
  text-align: start;
  border: 2px solid #ededed;
  padding: 0 25px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: unset;
  caret-color: var(--main-hover);
}
.form-input::placeholder {
  color: #999999;
}
textarea.form-input {
  height: 100px;
  resize: none;
  padding: 16px 25px;
}
.form-input:focus {
  border-color: var(--main-hover);
  outline: 0;
}
.form-btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: var(--main-hover);
  text-decoration: none !important;
  font-weight: 700;
  font-size: 18px;
  color: var(--white-color);
  border-radius: unset;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border: none;
}
.form-btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
@media (max-width: 991px) {
  .career-section {
    margin: 30px 0 40px;
  }
  .breadcrumb-sec .page-head {
    font-size: 24px;
  }
  ol.breadcrumb li a,
  ol.breadcrumb li span,
  ol.breadcrumb li {
    font-size: 14px;
  }
  ol.breadcrumb {
    display: none;
  }
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  height: 54px;
  text-align: start;
  border: 2px solid #ededed;
  padding: 0 25px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: unset;
  caret-color: var(--main-hover);
  position: relative;
  display: flex;
  align-items: center;
}
.custom-file-upload::after {
  display: none;
}
.file-txt {
  width: 110px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 7px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: unset;
  color: #999999;
  transition: all 0.3s ease-in-out;
}
.file-txt:hover {
  background-color: #d6d5d5;
}
@media (min-width: 992px) {
  .internal-page .big-menu > li > a {
    color: var(--main-color);
  }
  .internal-page header {
    background-color: var(--white-color);
  }
  .internal-page .fixed-nav {
    background-color: var(--white-color);
  }
  .internal-page .big-menu > li > a:hover {
    color: var(--main-hover);
  }
  .internal-page .lang-ancor:hover {
    color: var(--main-hover);
  }
}
/*               career page                 */
/*                       product page                                 */
.product-section {
  padding: 20px 15px 60px;
}
.product-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}
.product-ancor {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  color: var(--main-color);
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
html[dir="rtl"] .product-ancor {
  font-weight: 400;
}
.product-ancor:hover {
  color: var(--main-hover);
}
.product-ancor figure {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
}
.product-ancor img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.product-ancor:hover img {
  transform: scale(1.05);
}
.product-name {
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 767px) {
  .product-section {
    padding: 20px 0 40px;
  }
  .product-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .product-ancor {
    font-size: 16px;
  }
  .product-ancor figure {
    margin-bottom: 10px;
  }
}
/*                       product page                                 */
/* branches section */
.branches-section {
  padding: 20px 15px 60px;
}
.branches-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #ebebeb;
  padding: 30px;
  margin-bottom: 20px;
}
.branches-content {
  text-align: start;
  max-width: 440px;
  margin-inline-end: 50px;
}
.branches-name {
  font-weight: 600;
  font-size: 20px;
  color: var(--main-color);
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: start;
}
html[dir="rtl"] .branches-name {
  font-weight: 700;
}
.branches-li {
  margin-bottom: 15px;
}
.branches-link {
  font-weight: 400;
  color: var(--main-color);
  text-decoration: none !important;
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
}
.branches-link:hover {
  color: var(--main-hover);
}
div.branches-link:hover {
  color: var(--main-color);
}
/* .branches-link:hover{

} */
.branches-link i {
  margin-inline-end: 20px;
  font-size: 24px;
  margin-top: -2px;
  width: 24px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: var(--main-hover);
}
html[dir="rtl"] .branches-link i.la-phone {
  transform: scaleX(-1);
}
.branches-qr {
  margin-inline-end: 30px;
}
.branches-qr figure{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  padding: 21px;
  max-width: 210px;
}
.branches-box figure {
  margin-bottom: 0;
}
.branches-img-cont {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .branches-section {
    padding: 20px 0 40px;
  }
  .branches-content {
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .branches-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .branches-img-cont{
    align-items: center;
  }
  .branches-qr {
    margin-inline-end: 20px;
  }
  .branches-qr figure{
    padding: 15px;
  }
  .branches-map,
  .branches-map figure,
  .branches-map img {
    width: 100%;
  }
}
/* branches section */
